<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/reflektion_ParallelServer/src/reflektion_ParallelServer/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="reflektion_ParallelServer.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="reflektion_ParallelServer"/>
</launchConfiguration>
